#expense {
    margin: 0 auto;
    width: 400px;
    border: 3px solid black;
    padding-bottom: 1em;
    background-color: #f1ac60;
}

h1 {
    text-align: center;
}

#heading h2 {
    padding-left: 2em;
    margin-right: 3em;
    display: inline-flex;
    justify-content: space-between;
}

#part1 h3 {
    padding-left: 2em;
    margin-right: 3em;
    display: inline-flex;
    justify-content: space-between;
}

#part1 {
    margin-top: 1em;
    border: 2px solid black;
}

#part2 span {
    padding-left: 2em;
    margin-right: 5em;
    display: inline-flex;
    justify-content: space-between;
}

#part2 {
    margin-top: 1em;
    border: 2px solid black;
}

#part3 input {
    margin-left: 1em;
    width: 90%;
    height: 30px;
}

#part3 {
    margin-top: 1em;
    border: 2px solid black;
}
